body {
        background-color: black;
        color: bisque;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        animation: bckCol 5s infinite;
}


@font-face {

        font-family: "Monument";
        src: url("../fonts/MonumentExtended-Ultrabold.woff2");
}



/* Social media icons: Fixed */

.social {
        position: fixed;
        /* We make the position on the screen fixed so that it is always displayed on the screen*/
        left: 0;
        /* We set the bar on the left */
        top: 200px;
        /* We lower the bar 200px from top to bottom */
        z-index: 2000;
        /* We use the z-index property so that some other element*/
}


.social ul {
        list-style: none;
}

.social ul li a {
        display: inline-block;
        color: #fff;
        background: #000;
        padding: 10px 15px;
        text-decoration: none;
        -webkit-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
        /* We establish a transition to all properties */
}

.social ul li .icon-facebook {
        background: #3b5998;
}

/* We establish the colors of each social network, taking advantage of their class */
.social ul li .icon-twitter {
        background: #00abf0;
}

.social ul li .icon-googleplus {
        background: #d95232;
}

.social ul li .icon-pinterest {
        background: #ae181f;
}

.social ul li .icon-mail {
        background: #666666;
}

.social ul li a:hover {
        background: #000;
        /* We change the background when the user passes the mouse */
        padding: 10px 30px;
        /* We make the space bigger when the user passes the mouse */
}





/* -------- NAVBAR --------- */
.navbar {
        background-color: transparent;
        margin-left: 1000px;
        width: 700px;
        color: white;
        display: flex;
        justify-content: flex-end;
        position: sticky;
        top: 0px;
        z-index: 1;
}

.navbar img {
        display: block;
        height: 80px;
        padding: 0.2em;
}

/* Menú */
.navbar ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
}

.navbar a {
        color: white;
        text-decoration: none;
        padding: 1em;
        display: block;
        font-family: "Monument";
        font-size: 1.5em;

}

.navbar a:hover {
        background-color: rgb(59, 55, 90);
}


/* Some Banner with text: relative + absolute*/
.contenedor2 {

        width: auto;
        height: 700px;
        position: relative;
        margin-left: 200px;
        overflow: hidden;
        float: left;

}

br {
        clear: both;
}

.contenedor3 {

        width: 700px;
        height: auto;
        position: relative;
        overflow: hidden;
        float: right;

}

.contenedor2 img {
        width: 100%;
        border: 1px solid #f00;
        border-radius: 50%;
}

.contenedor2 img:active {
        filter: grayscale();
}

.contenedor3 img {
        width: 100%;
        border: 1px solid #f00;
        border-radius: 50%;
}


.lang {
        margin-top: 300px;
        margin-left: 900px;
        margin-right: 300px;
        font-family: fantasy;
        font-size: 3em;
}

.dos {
        color: burlywood;

        margin-left: 600px;
        margin-top: 100px;
        width: 500px;
        height: 500px;

}

.dos p {
        font-family: fantasy;
        font-size: 3em;

}


.centrado2 {
        width: 20em;
        height: 2em;
        color: #ae181f;
        position: absolute;
        top: 590px;
        left: 120px;
        font-family: "Monument";
        font-size: 1.5em;
}

.hobbie::first-letter {

        color: #ff0000;
        font-size: xx-large;

}



/* Multimedia within paragraphs */

.float1 {
        float: right;
}

.text1 {
        border: 1px solid blue;
        width: 100%;
        float: left;
}

div {
        margin: 5px;
        width: 50px;
        height: 150px;
}

.left {
        float: left;
        background: pink;
}

.right {
        float: right;
        background: cyan;
}



/* --------- ESTIOS DE LA GALERIA ---------- */
.galery {

        width: auto;
        height: auto;
        margin-left: 100px;
        display: grid;
        /* Diseño de la cuadricula, cantidad de columnas y tamaño de cada una */
        /* grid-template-columns: 100px 120px 150px; */
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-columns: repeat(4, 1fr);

        /* ESPACIO ENTRE FILAS Y COLUMNAS  */
        /* column-gap: 10px; */
        /* row-gap: 15px; */
        gap: 1em;
        padding: 1em;

        /* Alineamiento vertical de los items de la cuadricula */

}

.p1 {
        background-color: rgb(2, 2, 2);
        border: 1px solid;
        border-radius: 1em;
        min-height: 100px;
        width: 300px;
        height: 300px;
}



/* Si se desea que los elementos de una galería funcionen como links, se deben cambiar los estilos de la etiqueta <a> */
.C {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: inherit;
        align-items: center;
        overflow: hidden;
        padding: 10px;

}

.python {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: inherit;
        align-items: center;
        overflow: hidden;
        padding: 10px;
}



.cs {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: inherit;
        align-items: center;
        overflow: hidden;
        padding: 10px;

}

.unity {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: inherit;
        align-items: center;
        overflow: hidden;
        padding: 10px;

}

/* Efecto al pasar el muse sobre el link o lo que haya dentro */
.p1:hover {
        background: darkgray;
}





.ll1 {
        background-color: darkolivegreen;
        color: darkred;
        padding: .2em .3em 1em .3em;
        border-radius: 5em 5em 0 0;
        position: relative;
        font-size: 40px;
        font-weight: 800;
        width: 5em;
        height: 5em;
        text-align: center;
        /* ANIMACION */
        animation-name: fantasma;
        animation-duration: 5s;
        animation-iteration-count: infinite;

}

.ll2 {
        background-color: rgb(51, 47, 107);
        color: rgb(139, 28, 0);
        border-radius: 5em 5em 5em 0;
        position: relative;
        font-size: 40px;
        font-weight: 800;
        width: 5em;
        height: 5em;
        text-align: center;
        top: 30rem;
        /* ANIMACION */
        animation-name: fantasma1;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: reverse;
}



@keyframes bckCol {
        0% {
                background-color: darkolivegreen;
        }

        100% {
                background-color: #FF4136;
        }
}

@keyframes fantasma {
        0% {
                left: 0;
                top: 0;
        }

        10% {
                left: 5rem;
                top: 0rem;
                color: #f5edf8;
        }

        30% {
                top: 5rem;
                left: 10rem;
                color: rgb(148, 20, 20);
        }

        60% {
                top: 5rem;
                left: 20rem;
                color: rgb(74, 22, 218);

        }

        70% {
                top: 0rem;
                left: 20rem;
                color: rgb(148, 20, 20);
        }

        100% {
                top: 0rem;
                left: 0rem;
                color: rgb(186, 214, 27);
                opacity: 1;
        }
}

@keyframes fantasma1 {
        0% {
                left: 0;
                top: 30rem;
        }

        10% {
                left: 20rem;
                top: 30rem;
                color: #f5edf8;
        }

        30% {
                top: 50rem;
                left: 5rem;
                color: rgb(148, 20, 20);
        }

        60% {
                top: 5rem;
                left: 10rem;
                color: rgb(74, 22, 218);
        }

        70% {
                top: 0rem;
                left: 10rem;
                color: rgb(148, 20, 20);
        }

        100% {
                top: 0rem;
                left: 0rem;
                color: rgb(186, 214, 27);
        }
}